@import "variables";
@import "mixins";

.app__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: $height;
  padding: $padding;
  background-color: $baseColor;
  & .input {
    margin: 0;
    padding: 2px 7px;
    height: 20px;
    min-width: 1px;
    color: black;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:hover {
      border: 1px solid $hoverColor;
    }

    &:focus {
      border: 2px solid $borderColor;
    }
  }

  & .btn {
    @include button(white, $hoverColor);

    &:nth-child(2) {
      @include button($dangerColor, #b70e0e);
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
}
